<div choose-boards="postIdeasTo"></div>

<div add-idea="ideas"
  post-ideas-to="postIdeasTo"></div>

<div class="idea-list-wrapper">
  <div class="archived-control">
    <a class="archived"
      ng-show="hideArchived"
      ng-click="hideArchived = false">show archived?</a>
    <a class="archived"
      ng-show="!hideArchived"
      ng-click="hideArchived = true">hide archived</a>
  </div>

  <div idea-list-control
    count="ideasCount.count"
    search="search"
    order="orderProperty"
    board-filter="boardFilter">
  </div>

  <div
    ideas-table="ideas"
    ></div>
</div>
