.choose-boards {
  border-bottom: 1px solid $choose-board-tab-color;
  margin-bottom: .75rem;
  position: relative;

  ul { display: inline-block; }
  li {
    cursor: pointer;
    display: inline-block;
    margin-left: .5rem;
    padding: .25rem .75rem;
    border: 1px solid $choose-board-tab-color;
    border-bottom: none !important;

    &.selected {
      background-color: $choose-board-tab-background;
      border: 1px solid $choose-board-tab-color;
      border-top-right-radius: 1rem;
      border-top-left-radius: 1rem;
      position: relative;
      bottom: -1px;
    }
  }

  .manage {
    margin-left: 1rem;
    text-decoration: none;
  }
}
