table.ideas {
  .board {
    margin-right: .25rem;
  }

  td.idea {
    width: 70%;
    * {
      vertical-align: middle;
    }
  }
}


.empty-board {
  text-align: center;

  p {
    max-width: 640px;
    margin: 1rem auto;
  }

  img {
    margin-bottom: 2rem;
  }
}

.idea-list-control {
  margin: 1rem 0;
}
