.idea-list-wrapper {
  margin-top: 1.25rem;
  padding-top: 1.25rem;
  border-top: 1px solid $light-grey;
}

table.ideas {
  .board {
    margin-right: .25rem;
  }

  td.idea {
    * {
      vertical-align: middle;
    }

    textarea {
      width: 100%;
    }
  }

  .board {
    width: 2rem;
  }

  .time-ago,
  .author {
    width: 6rem;
  }

  .edit,
  .remove {
    width: 2.5rem;
    padding: 0;

    a {
      width: 100%;
      height: 100%;
      display: block;
      text-align: center;
    }
  }

  .editing {
    select {
      width: 5rem;
    }

    .board {
      width: 6rem;
    }
  }
}


.empty-board {
  text-align: center;

  p {
    max-width: 640px;
    margin: 1rem auto;
  }

  img {
    margin-bottom: 2rem;
  }
}
