
$black: #3B3B3B;
$grey: #aaaaaa;
$pink: pink;
$light-grey: #e7e7e7;
$white: #ffffff;

$choose-board-tab-color: darken($light-grey, 10%);
$choose-board-tab-background: $white;

$body-color: $black;
$link-color: #FF4848;
$header-color: $link-color;

@import "fonts/fonts",
        "ui/forms",
        "ui/inline-table-form",
        "ui/pills",
        "ui/tables",
        "ui/paginator",
        "components/header",
        "components/ideas",
        "components/choose-boards",
        "components/boards";

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $body-color;
  font-family: Georgia, serif;
}

a {
  color: $link-color;
  cursor: pointer;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
}
