<div class="choose-boards">
  Post to board:
  <ul>
    <li ng-click="selectBoard(null)" ng-class="{'selected': selectedBoard === undefined}">None</li>
    <li ng-repeat="board in boards" ng-click="selectBoard(board)" ng-class="{'selected': board.selected}">
      <i class="indicator" style="background-color: {{board.color}};"></i>
      {{ board.name }}{{randomColor({seed: $index})}}
    </li>
    <li class="manage">
      <a href="/boards" class="manage">Manage boards &raquo;</a>
    </li>
  </ul>


</div>
