<form name="ideaListControlForm" class="idea-list-control">
  <div class="filter">
    Filter:

    <select ng-model="boardFilter">
      <option value="">View All</option>
      <option ng-repeat="board in boards" value="{{board._id}}">{{ board.name }}</option>
    </select>
  </div>
  <div class="search">
    <label>Search {{count}} ideas: </label><input type="search" ng-model="search" placeholder="Search"/>
  <!-- <select ng-model="order">
    <option value="1">Ascending</option>
    <option value="-1">Descending</option>
  </select> -->
  </div>
</form>
