:-moz-ui-invalid:-moz-focusring:not(output) {
    box-shadow: none; // 0px 0px 2px 2px rgba(255,0,0,0.4);
}
:-moz-ui-invalid:not(output) {
    box-shadow: none; // 0px 0px 1.5px 1px red;
}

.horizontal-form {
  * {
    vertical-align: middle;
  }

  label + input,
  label + textarea {
    padding: .25rem;
    border: 1px solid $light-grey;
    height: 1.5rem;
    margin-left: 1rem;
    min-width: 50%;
    margin-right: 1rem;
    transition: .5s height;
  }

  label + textarea.grow {
    height: 6rem;
  }

  button {
    text-align: right;
  }
}

button {
  background: none;
  border: 1px solid $grey;
  border-radius: 3px;
  padding: .25rem .75rem;
  box-shadow: 0px 2px 0px $grey;
  transition: box-shadow .2s, background-color .2s;
  cursor: pointer;

  &:hover {
    background-color: $light-grey;
  }

  &:active,
  &:focus {
    box-shadow: 0px 1px 0px $grey;
  }
}
